In [1]:
import re, subprocess, pyodbc 
import numpy as np # linear algebra 
from sqlalchemy import func, create_engine
from config import mongoConn, connstr  
import pandas as pd

In [3]:
engine = create_engine(connstr) 
def get_df(query):
    conn = engine.connect() 
    df = pd.read_sql(query,con=conn) 
    conn.close()
    return df

In [8]:
def normalizedf(df):
    df.drop( columns=[c for c in df.columns if '__' in c ] , inplace=True )   
    cols = list(df)   
    df[cols] = df[cols].astype(str)
    df['IDT'] = df['IDTEXT'].apply(id_to_var) 
    return df

In [7]:
def id_split(s):
    s = s + '000'
    s = re.sub('[^\d]', '', s)  
    return s[:4] 
print( id_split('5.1-4') )
def id_to_var(s): 
    s = re.sub('\s|\.', '_', s)  
    return s 
print( id_to_var('5.1 4') )

5140
5_1_4

In [20]:
df = get_df("SELECT IDTEXT, PK_Question FROM vwQuestions WHERE PK_Form = '2022-A-HVA' AND IDTEXT IS NOT NULL AND IDTEXT <> ''") 
df = normalizedf(df) 
df

    IDTEXT PK_Question    IDT
0        1       28201      1
1      1.1       28202    1_1
2        2       28228      2
3      2.1       28229    2_1
4    2.1.1       28230  2_1_1
..     ...         ...    ...
231   21.3       28765   21_3
232   21.4       28766   21_4
233   21.5       28767   21_5
234   21.6       28768   21_6
235   21.7       28769   21_7

[236 rows x 3 columns]

In [21]:
d="DECLARE @ANS_$1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = $0 AND FK_OrgSubmission = @PK_OrgSubmission)"
for i,r in df.iterrows(): 
    s = d.replace('$0', r['PK_Question']) 
    s = s.replace('$1', r['IDT'])
    print( s )

DECLARE @ANS_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28201 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28202 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28228 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_2_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28229 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_2_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28230 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28231 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_3_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28232 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_3_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28233 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28234 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28235 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28236 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28237 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28238 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28239 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28240 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28241 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_6 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28242 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_7 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28243 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_8 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28244 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_9 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28245 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_1_10 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28246 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28247 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_5_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28248 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28249 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28250 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28251 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28252 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28253 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_6_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28254 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28255 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28257 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28258 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28260 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28264 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28265 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28266 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28267 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28270 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_3_4_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28271 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28273 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_4_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28274 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28276 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_5_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28277 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_5_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28278 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_6 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28280 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_7_7 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28282 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_8 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28283 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_9 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28284 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_10 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28285 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_11 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28286 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_11_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28287 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_12 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28288 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28290 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28291 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28292 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28293 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28294 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_6 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28295 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_7 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28296 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_8 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28297 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_9 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28298 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_10 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28299 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_11 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28300 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_12 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28301 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_13 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28302 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_14 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28303 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_15 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28304 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_16 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28305 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_17 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28306 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_18 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28307 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_19 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28308 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_20 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28309 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_21 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28310 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_22 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28311 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_23 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28312 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_24 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28313 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_25 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28314 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_26 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28315 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_27 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28316 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_28 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28317 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_29 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28318 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_30 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28319 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_31 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28320 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_32 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28321 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_33 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28322 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_34 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28323 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_35 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28324 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_36 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28325 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_37 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28326 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_38 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28327 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_39 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28328 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_40 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28329 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_41 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28330 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_42 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28331 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_43 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28332 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_44 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28333 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_45 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28334 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_46 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28335 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_47 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28336 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_48 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28337 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1_1_49 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28338 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_8_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28350 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_2_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28399 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28401 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28402 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_2 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28403 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_2_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28404 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_3 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28405 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_3_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28406 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_4 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28407 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_4_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28408 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_5 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28409 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_5_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28410 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_5_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28411 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_6 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28412 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_6_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28413 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_7 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28414 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_8 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28415 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_8_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28416 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_9 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28431 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_10 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28432 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_11 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28433 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_11_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28434 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_12 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28435 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_12_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28436 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_12_1_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28437 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_13 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28438 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_13_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28439 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_14 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28440 AND FK_OrgSubmission = @PK_OrgSubmission)
DECLARE @ANS_1B_14_1 NVARCHAR(4000) = (SELECT TOP 1 ISNULL(Answer,'') FROM fsma_Answers WHERE FK_Question = 28441 AND FK_OrgSubmission = @PK_OrgSubmission)

In [25]:
d='''IF ISNULL(@ANS_$1,'') = '' 
BEGIN
    INSERT INTO @ErrorTable  
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '$0' AND PK_OrgSubmission = @PK_OrgSubmission    
END  
''' 
for i,r in df.iterrows(): 
    s = d.replace('$0', r['IDTEXT']) 
    s = s.replace('$1', r['IDT'])
    print( s )

IF ISNULL(@ANS_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_2_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '2.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_2_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '2.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_3_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '3.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_3_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '3.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '4' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.4' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_5,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.5' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_6,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.6' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_7,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.7' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_8,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.8' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_9,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.9' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_1_10,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.1.10' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_5_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '5.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6.4' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_6_5,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '6.5' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3.4' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_3_4_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.3.4.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.4' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_4_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.4.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_5,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.5' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_5_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.5.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_5_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.5.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_6,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.6' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_7_7,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '7.7' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_8,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '8' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_9,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '9' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_10,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '10' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_11,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '11' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_11_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '11.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_12,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '12' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_1_1_1,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '1.1.1' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_1_1_2,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '1.1.2' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_1_1_3,'') = ''
BEGIN
    INSERT INTO @ErrorTable
    SELECT  PK_Question,  PK_FormPage,  page_sort_pos, questgroup_sort_pos, quest_sort_pos, ('Please provide an answer for '+identifier_text+ ' ' + QuestionText) Error, identifier_text
    FROM [dbo].[vw_OrgSubQuestions] WHERE identifier_text = '1.1.3' AND PK_OrgSubmission = @PK_OrgSubmission
END

IF ISNULL(@ANS_1_1_4,'') = ''
BEGIN
    INSERT INTO @ErrorTable

In [37]:
query = """\
SELECT DISTINCT PK_PickList, PK_PickListType, DisplayValue, CodeValue, SortPos, Description, UsageField
FROM vwPickLists
WHERE PK_PickListType IN (
	SELECT DISTINCT PK_PickListType
	FROM vwQuestions WHERE PK_FORM LIKE '2022-A-HVA' AND PK_PickListType IS NOT NULL  --SectionNum=1
    
)
ORDER BY PK_PickListType, PK_PickList
"""  
dfp = get_df( query )  
dfp
d="DECLARE @PICK_$1 INT = $0"
for i,r in dfp.iterrows(): 
    s = d.replace('$0', str(r['PK_PickList'])) 
    rp = r['UsageField'] + '_'  + str(r['PK_PickListType']) + '_' + r['CodeValue'] 
    rp =re.sub('\s|\.|\-', '_', rp) 
    s = s.replace('$1', rp)
    print( s )

DECLARE @PICK_HVATECH_153_CLOUD INT = 3412
DECLARE @PICK_HVATECH_153_MAIN INT = 3413
DECLARE @PICK_HVATECH_153_GSS INT = 3414
DECLARE @PICK_HVATECH_153_WEB INT = 3415
DECLARE @PICK_HVATECH_153_APP INT = 3416
DECLARE @PICK_HVATECH_153_ISC INT = 3417
DECLARE @PICK_HVATECH_153_CS INT = 3418
DECLARE @PICK_HVATECH_153_OTH INT = 3419
DECLARE @PICK_CLOUD_154_PAAS INT = 3424
DECLARE @PICK_CLOUD_154_SAAS INT = 3425
DECLARE @PICK_CLOUD_154_IAAS INT = 3426
DECLARE @PICK_CLOUD_154_HYBRID INT = 3427
DECLARE @PICK_CLOUD_154_OTH INT = 3428
DECLARE @PICK_HVAMGMT_155_GOGO INT = 3432
DECLARE @PICK_HVAMGMT_155_GOCO INT = 3433
DECLARE @PICK_HVAMGMT_155_COCO INT = 3434
DECLARE @PICK_HVAMGMT_155_FFRDC INT = 3435
DECLARE @PICK_HVAMGMT_155_OTH INT = 3436
DECLARE @PICK_HVAMAINT_156_FED INT = 3441
DECLARE @PICK_HVAMAINT_156_FEDCONT INT = 3442
DECLARE @PICK_HVAMAINT_156_CONT INT = 3443
DECLARE @PICK_DIRECTION_161_UP INT = 3479
DECLARE @PICK_DIRECTION_161_DOWN INT = 3480
DECLARE @PICK_DIRECTION_161_BOTH INT = 3481
DECLARE @PICK_YESNOUNK_162_Y INT = 3486
DECLARE @PICK_YESNOUNK_162_N INT = 3487
DECLARE @PICK_YESNOUNK_162_UNK INT = 3488
DECLARE @PICK_BODHVA_IDT_1_300_MANFCTRN INT = 3783
DECLARE @PICK_BODHVA_IDT_1_300_POWRGNRT INT = 3784
DECLARE @PICK_BODHVA_IDT_1_300_BULDNGTM INT = 3785
DECLARE @PICK_BODHVA_IDT_1_300_COMMNCTN INT = 3786
DECLARE @PICK_BODHVA_IDT_1_300_INFRMTNT INT = 3787
DECLARE @PICK_BODHVA_IDT_1_300_CHMCLSCR INT = 3788
DECLARE @PICK_BODHVA_IDT_1_300_PLNTMPFC INT = 3789
DECLARE @PICK_BODHVA_IDT_1_300_WATRSSTM INT = 3790
DECLARE @PICK_BODHVA_IDT_1_300_OTH INT = 3791
DECLARE @PICK_BODHVA_IDT_2_301_SAFTNSTR INT = 3794
DECLARE @PICK_BODHVA_IDT_2_301_PRTCTVRL INT = 3795
DECLARE @PICK_BODHVA_IDT_2_301_SURGPRTC INT = 3796
DECLARE @PICK_BODHVA_IDT_2_301_CURRNTLM INT = 3797
DECLARE @PICK_BODHVA_IDT_2_301_NETWRKMN INT = 3798
DECLARE @PICK_BODHVA_IDT_2_301_OTH INT = 3799
DECLARE @PICK_BODHVA_IDT_3_302_NOMNLMPC INT = 3802
DECLARE @PICK_BODHVA_IDT_3_302_DEGRDTHS INT = 3803
DECLARE @PICK_BODHVA_IDT_3_302_WORKRNDT INT = 3804
DECLARE @PICK_BODHVA_IDT_3_302_FALRTHSR INT = 3805
DECLARE @PICK_BODHVA_IDT_3_302_OTH INT = 3806
DECLARE @PICK_BODHVA_IDT_4_303_SAFTTY INT = 3809
DECLARE @PICK_BODHVA_IDT_4_303_ENVRNMTL INT = 3810
DECLARE @PICK_BODHVA_IDT_4_303_FINNCLAL INT = 3811
DECLARE @PICK_BODHVA_IDT_4_303_OTH INT = 3812
DECLARE @PICK_BODHVA_IDT_4_303_PT INT = 4420
DECLARE @PICK_BODHVA_IDT_4_303_OP INT = 4421
DECLARE @PICK_BODHVA_IDT_8_305_NOPTDTNV INT = 3821
DECLARE @PICK_BODHVA_IDT_8_305_NOCNFDNC INT = 3822
DECLARE @PICK_BODHVA_IDT_8_305_LOWCNFDN INT = 3823
DECLARE @PICK_BODHVA_IDT_8_305_SOMWHTCN INT = 3824
DECLARE @PICK_BODHVA_IDT_8_305_HIGHLCNF INT = 3825
DECLARE @PICK_BODHVA_IDT_8_305_COMPLTLN INT = 3826
DECLARE @PICK_BODHVA_IDT_9_306_TIMBSDPD INT = 3829
DECLARE @PICK_BODHVA_IDT_9_306_EVNTDRVN INT = 3830
DECLARE @PICK_BODHVA_IDT_9_306_MANLPDTT INT = 3831
DECLARE @PICK_BODHVA_IDT_9_306_AUTMTDPD INT = 3832
DECLARE @PICK_BODHVA_IDT_9_306_OTH INT = 3833
DECLARE @PICK_BODHVA_IDT_10_307_AUTMTNCN INT = 3836
DECLARE @PICK_BODHVA_IDT_10_307_BULDNGTM INT = 3837
DECLARE @PICK_BODHVA_IDT_10_307_PRTCTVRL INT = 3838
DECLARE @PICK_BODHVA_IDT_10_307_OTH INT = 3839
DECLARE @PICK_BODHVA_IDT_13_308_LIFCCLPR INT = 3842
DECLARE @PICK_BODHVA_IDT_13_308_ADHCRPLC INT = 3843
DECLARE @PICK_BODHVA_IDT_13_308_ASFNDNGP INT = 3844
DECLARE @PICK_BODHVA_IDT_13_308_NOLPLNAN INT = 3845
DECLARE @PICK_BODHVA_IDT_13_308_OTH INT = 3846
DECLARE @PICK_BODHVA_IDT_14_1_309_MESHDSCH INT = 3849
DECLARE @PICK_BODHVA_IDT_14_1_309_HIRRCCLA INT = 3850
DECLARE @PICK_BODHVA_IDT_14_1_309_BUSUS INT = 3851
DECLARE @PICK_BODHVA_IDT_14_1_309_STRAR INT = 3852
DECLARE @PICK_BODHVA_IDT_14_1_309_RINGTPLG INT = 3853
DECLARE @PICK_BODHVA_IDT_15_310_NETWRKSG INT = 3857
DECLARE @PICK_BODHVA_IDT_15_310_DATDDSES INT = 3858
DECLARE @PICK_BODHVA_IDT_15_310_ACCCONTL INT = 3859
DECLARE @PICK_BODHVA_IDT_15_310_DMZMZ INT = 3861
DECLARE @PICK_BODHVA_IDT_15_310_MONTRNGL INT = 3862
DECLARE @PICK_BODHVA_IDT_15_310_ENCRPTNO INT = 3863
DECLARE @PICK_BODHVA_IDT_15_310_OTH INT = 3864
DECLARE @PICK_BODHVA_IDT_19_2_312_OTH INT = 3872
DECLARE @PICK_BODHVA_IDT_19_2_312_NONNE INT = 3873
DECLARE @PICK_BODHVA_IDT_19_2_312_FULLRPRS INT = 3874
DECLARE @PICK_BODHVA_IDT_19_2_312_MODRTLRP INT = 3875
DECLARE @PICK_BODHVA_IDT_19_2_312_MINMLLRP INT = 3876
DECLARE @PICK_BODHVA_IDT_19_3_313_USBCDRTV INT = 3878
DECLARE @PICK_BODHVA_IDT_19_3_313_OFFLNPTC INT = 3882
DECLARE @PICK_BODHVA_IDT_19_3_313_ONLNDWNL INT = 3883
DECLARE @PICK_BODHVA_IDT_19_3_313_UPDTSSCN INT = 3884
DECLARE @PICK_BODHVA_IDT_19_3_313_UPDTHSHC INT = 3885
DECLARE @PICK_BODHVA_IDT_19_3_313_DIGSIG INT = 4440
DECLARE @PICK_BODHVA_IDT_19_3_313_OTH INT = 4441
DECLARE @PICK_BODHVA_IDT_19_4_314_ENTRSSTM INT = 3888
DECLARE @PICK_BODHVA_IDT_19_4_314_INDVDLSS INT = 3889
DECLARE @PICK_BODHVA_IDT_19_4_314_OTH INT = 3890
DECLARE @PICK_BODHVA_IDT_20_315_WITHNDSY60 INT = 3892
DECLARE @PICK_BODHVA_IDT_20_315_WITHNDSY3 INT = 3893
DECLARE @PICK_BODHVA_IDT_20_315_WITHNDSY6 INT = 3894
DECLARE @PICK_BODHVA_IDT_20_315_WITHNMNT INT = 3895
DECLARE @PICK_BODHVA_IDT_20_315_WITHNRAR INT = 3896
DECLARE @PICK_BODHVA_IDT_20_315_MORTHNRA INT = 3897
DECLARE @PICK_BODHVA_IDT_20_315_WITHNDSY9 INT = 3898
DECLARE @PICK_BODHVA_IDT_22_316_CENTRLZD INT = 3900
DECLARE @PICK_BODHVA_IDT_22_316_LOCLCCNT INT = 3901
DECLARE @PICK_BODHVA_IDT_22_316_PHSCLCCS INT = 3902
DECLARE @PICK_BODHVA_IDT_22_316_MANLKSLC INT = 3903
DECLARE @PICK_BODHVA_IDT_22_316_OTH INT = 3904
DECLARE @PICK_BODHVA_IDT_24_317_ACCSSTHR INT = 3907
DECLARE @PICK_BODHVA_IDT_24_317_ANNLRVWP INT = 3908
DECLARE @PICK_BODHVA_IDT_24_317_KECHCKNC INT = 3909
DECLARE @PICK_BODHVA_IDT_24_317_PACSNRLL INT = 3910
DECLARE @PICK_BODHVA_IDT_24_317_OTH INT = 3911
DECLARE @PICK_BODHVA_IDT_25_318_ACPOL INT = 3914
DECLARE @PICK_BODHVA_IDT_25_318_ACCSSCNT INT = 3915
DECLARE @PICK_BODHVA_IDT_25_318_ACCNTTHR INT = 3916
DECLARE @PICK_BODHVA_IDT_25_318_RULSFBHV INT = 3917
DECLARE @PICK_BODHVA_IDT_25_318_OTH INT = 3918
DECLARE @PICK_BODHVA_IDT_27_1_319_ACCSSCNT INT = 3921
DECLARE @PICK_BODHVA_IDT_27_1_319_MULTFCTR INT = 3922
DECLARE @PICK_BODHVA_IDT_27_1_319_ONTMPSSW INT = 3923
DECLARE @PICK_BODHVA_IDT_27_1_319_LIMTDTMW INT = 3924
DECLARE @PICK_BODHVA_IDT_27_1_319_NONNE INT = 3925
DECLARE @PICK_BODHVA_IDT_27_1_319_COMPLXPS INT = 3926
DECLARE @PICK_BODHVA_IDT_27_1_319_SIMPLPSS INT = 3927
DECLARE @PICK_BODHVA_IDT_27_1_319_DEFLTPSS INT = 3928
DECLARE @PICK_BODHVA_IDT_27_1_319_NOSCRTCN INT = 3929
DECLARE @PICK_BODHVA_IDT_27_1_319_RDPRTTLS INT = 3930
DECLARE @PICK_BODHVA_IDT_27_1_319_OTH INT = 3931
DECLARE @PICK_BODHVA_IDT_28_320_INPRSNON INT = 3934
DECLARE @PICK_BODHVA_IDT_28_320_REMTTE INT = 3935
DECLARE @PICK_BODHVA_IDT_28_320_RDPRTNTG INT = 3936
DECLARE @PICK_BODHVA_IDT_28_320_VENDRSRS INT = 3937
DECLARE @PICK_BODHVA_IDT_28_320_OTH INT = 3938
DECLARE @PICK_BODHVA_IDT_29_321_DEVLPMNT INT = 3941
DECLARE @PICK_BODHVA_IDT_29_321_INSTLLTN INT = 3942
DECLARE @PICK_BODHVA_IDT_29_321_CONFGRTN INT = 3943
DECLARE @PICK_BODHVA_IDT_29_321_LOGCPRGR INT = 3944
DECLARE @PICK_BODHVA_IDT_29_321_PATCHNGN INT = 3945
DECLARE @PICK_BODHVA_IDT_29_321_DIGNSTCS INT = 3946
DECLARE @PICK_BODHVA_IDT_29_321_OTH INT = 3947
DECLARE @PICK_BODHVA_IDT_30_322_CORPRTGF INT = 3950
DECLARE @PICK_BODHVA_IDT_30_322_CORPRTCL INT = 3951
DECLARE @PICK_BODHVA_IDT_30_322_ICSSPCFG INT = 3952
DECLARE @PICK_BODHVA_IDT_30_322_VIRTLMCH INT = 3953
DECLARE @PICK_BODHVA_IDT_30_322_PERSNLLP INT = 3954
DECLARE @PICK_BODHVA_IDT_30_322_PERSNLCL INT = 3955
DECLARE @PICK_BODHVA_IDT_30_322_OTH INT = 3956
DECLARE @PICK_BODHVA_IDT_30_322_NONE INT = 4442
DECLARE @PICK_DEPOYYRS_325_5RS5RS INT = 3981
DECLARE @PICK_DEPOYYRS_325_610R10RS INT = 3982
DECLARE @PICK_DEPOYYRS_325_101515RS INT = 3983
DECLARE @PICK_DEPOYYRS_325_152020RS INT = 3984
DECLARE @PICK_DEPOYYRS_325_203030RS INT = 3985
DECLARE @PICK_DEPOYYRS_325_304040RS INT = 3986
DECLARE @PICK_DEPOYYRS_325_40RS40RS INT = 3987
DECLARE @PICK_WEBAPPTECH_327_HTML INT = 3998
DECLARE @PICK_WEBAPPTECH_327_CSS INT = 3999
DECLARE @PICK_WEBAPPTECH_327_JS INT = 4000
DECLARE @PICK_WEBAPPTECH_327_PHP INT = 4001
DECLARE @PICK_WEBAPPTECH_327_JAVA INT = 4002
DECLARE @PICK_WEBAPPTECH_327_RBNRNRLS INT = 4003
DECLARE @PICK_WEBAPPTECH_327_SMFNCTJS INT = 4004
DECLARE @PICK_WEBAPPTECH_327_CKPHKPHP INT = 4005
DECLARE @PICK_WEBAPPTECH_327_SPNTSPNT INT = 4006
DECLARE @PICK_WEBAPPTECH_327_NDJSNDJS INT = 4007
DECLARE @PICK_WEBAPPTECH_327_MTRMTR INT = 4008
DECLARE @PICK_WEBAPPTECH_327_LRVLLRVL INT = 4009
DECLARE @PICK_WEBAPPTECH_327_MBRMBR INT = 4010
DECLARE @PICK_WEBAPPTECH_327_DJNGDJNG INT = 4011
DECLARE @PICK_WEBAPPTECH_327_XPRSPRSS INT = 4012
DECLARE @PICK_WEBAPPTECH_327_SPRNPRNG INT = 4013
DECLARE @PICK_WEBAPPTECH_327_FLSKFLSK INT = 4014
DECLARE @PICK_WEBAPPTECH_327_DRPLDRPL INT = 4015
DECLARE @PICK_WEBAPPTECH_327_WRDPPRSS INT = 4016
DECLARE @PICK_WEBAPPTECH_327_BTSTSTRP INT = 4017
DECLARE @PICK_WEBAPPTECH_327_WB2PWB2P INT = 4018
DECLARE @PICK_WEBAPPTECH_327_TRBGBGRS INT = 4019
DECLARE @PICK_WEBAPPTECH_327_SNTRSNTR INT = 4020
DECLARE @PICK_WEBAPPTECH_327_ZNDFMWRK INT = 4021
DECLARE @PICK_WEBAPPTECH_327_OTH INT = 4022
DECLARE @PICK_APPLATOS_328_MCRSNDWS INT = 4023
DECLARE @PICK_APPLATOS_328_PPLMLMCS INT = 4024
DECLARE @PICK_APPLATOS_328_IOS INT = 4025
DECLARE @PICK_APPLATOS_328_BNTBNT INT = 4026
DECLARE @PICK_APPLATOS_328_CNTSCNTS INT = 4027
DECLARE @PICK_APPLATOS_328_UNIX INT = 4028
DECLARE @PICK_APPLATOS_328_NDRDNDRD INT = 4029
DECLARE @PICK_APPLATOS_328_WNDWWN10 INT = 4030
DECLARE @PICK_APPLATOS_328_MSDSKRNL INT = 4031
DECLARE @PICK_APPLATOS_328_HPRVWRTC INT = 4032
DECLARE @PICK_APPLATOS_328_OTH INT = 4033
DECLARE @PICK_YNO_353_Y INT = 4150
DECLARE @PICK_YNO_353_N INT = 4151
DECLARE @PICK_YNO_353_Other INT = 4152
DECLARE @PICK_HVASERV_354_CYBRSC INT = 4160
DECLARE @PICK_HVASERV_354_FNNCLN INT = 4161
DECLARE @PICK_HVASERV_354_MDCLHL INT = 4162
DECLARE @PICK_HVASERV_354_DTSTRG INT = 4163
DECLARE @PICK_HVASERV_354_LGLSRV INT = 4164
DECLARE @PICK_HVASERV_354_LWNFRC INT = 4165
DECLARE @PICK_HVASERV_354_VTRNSP INT = 4166
DECLARE @PICK_HVASERV_354_MMGRTN INT = 4167
DECLARE @PICK_HVASERV_354_DTCCSS INT = 4168
DECLARE @PICK_HVASERV_354_NSNDSP INT = 4169
DECLARE @PICK_HVASERV_354_CCSSCN INT = 4170
DECLARE @PICK_HVASERV_354_VSTRMN INT = 4171
DECLARE @PICK_HVASERV_354_VDSRVL INT = 4172
DECLARE @PICK_HVASERV_354_PDTCNT INT = 4173
DECLARE @PICK_HVASERV_354_CMMNCT INT = 4174
DECLARE @PICK_HVASERV_354_MRGNCY INT = 4175
DECLARE @PICK_HVASERV_354_TSPPRT INT = 4176
DECLARE @PICK_HVASERV_354_DTCNTR INT = 4177
DECLARE @PICK_HVASERV_354_MRGNCY INT = 4178
DECLARE @PICK_HVASERV_354_RLTMDT INT = 4179
DECLARE @PICK_HVASERV_354_PHYSCL INT = 4180
DECLARE @PICK_HVASERV_354_WTHRDS INT = 4181
DECLARE @PICK_HVASERV_354_PYRLLR INT = 4182
DECLARE @PICK_HVASERV_354_WBBSDM INT = 4183
DECLARE @PICK_HVASERV_354_PRVDSN INT = 4184
DECLARE @PICK_HVASERV_354_OTH INT = 4185
DECLARE @PICK_HVASERVREC_355_FDRLGN INT = 4200
DECLARE @PICK_HVASERVREC_355_MRGNCY INT = 4201
DECLARE @PICK_HVASERVREC_355_LCLSTT INT = 4202
DECLARE @PICK_HVASERVREC_355_FDRLMP INT = 4203
DECLARE @PICK_HVASERVREC_355_MMBRSF INT = 4204
DECLARE @PICK_HVASERVREC_355_NSMSSN INT = 4205
DECLARE @PICK_HVASERVREC_355_FDRLLC INT = 4206
DECLARE @PICK_HVASERVREC_355_NTRNLS INT = 4207
DECLARE @PICK_HVASERVREC_355_VPRSNN INT = 4208
DECLARE @PICK_HVASERVREC_355_NMPLYS INT = 4209
DECLARE @PICK_HVASERVREC_355_VTNWRK INT = 4210
DECLARE @PICK_HVASERVREC_355_FDRLCR INT = 4211
DECLARE @PICK_HVASERVREC_355_NTRNLN INT = 4212
DECLARE @PICK_HVASERVREC_355_PTNTLF INT = 4213
DECLARE @PICK_HVASERVREC_355_PBLCFF INT = 4214
DECLARE @PICK_HVASERVREC_355_BRDRPT INT = 4215
DECLARE @PICK_HVASERVREC_355_CNMCNL INT = 4216
DECLARE @PICK_HVASERVREC_355_NFRSTR INT = 4217
DECLARE @PICK_HVASERVREC_355_SLTTRG INT = 4218
DECLARE @PICK_HVASERVREC_355_FDRLST INT = 4219
DECLARE @PICK_HVASERVREC_355_MDCLND INT = 4220
DECLARE @PICK_HVASERVREC_355_VSPPLC INT = 4221
DECLARE @PICK_HVASERVREC_355_MLTRYN INT = 4222
DECLARE @PICK_HVASERVREC_355_THRGVR INT = 4223
DECLARE @PICK_HVASERVREC_355_THRPBL INT = 4224
DECLARE @PICK_HVASERVREC_355_NTRNLG INT = 4225
DECLARE @PICK_HVASERVREC_355_XTRNLG INT = 4226
DECLARE @PICK_HVASERVREC_355_OTH INT = 4227
DECLARE @PICK_HVASERVREC_355_NONE INT = 4228
DECLARE @PICK_HVAPURPOSE_356_GVDMNGNY INT = 4250
DECLARE @PICK_HVAPURPOSE_356_CCDYM INT = 4251
DECLARE @PICK_HVAPURPOSE_356_GNCYPPL INT = 4252
DECLARE @PICK_HVAPURPOSE_356_BNNLLGNC INT = 4253
DECLARE @PICK_HVAPURPOSE_356_CLLBNLHP INT = 4254
DECLARE @PICK_HVAPURPOSE_356_CLLCNLYZ INT = 4255
DECLARE @PICK_HVAPURPOSE_356_CNLDBV INT = 4256
DECLARE @PICK_HVAPURPOSE_356_CYBCYMNN INT = 4257
DECLARE @PICK_HVAPURPOSE_356_CYBCYLLN INT = 4258
DECLARE @PICK_HVAPURPOSE_356_DPY INT = 4259
DECLARE @PICK_HVAPURPOSE_356_DCNMKNGL INT = 4260
DECLARE @PICK_HVAPURPOSE_356_DPLMCNDN INT = 4261
DECLARE @PICK_HVAPURPOSE_356_MLVCNDNN INT = 4262
DECLARE @PICK_HVAPURPOSE_356_MGNCYMNG INT = 4263
DECLARE @PICK_HVAPURPOSE_356_MGNCYPNP INT = 4264
DECLARE @PICK_HVAPURPOSE_356_NPCPLNNN INT = 4265
DECLARE @PICK_HVAPURPOSE_356_XPLVHPFL INT = 4266
DECLARE @PICK_HVAPURPOSE_356_FNNCLGNC INT = 4267
DECLARE @PICK_HVAPURPOSE_356_FNNCLNNL INT = 4268
DECLARE @PICK_HVAPURPOSE_356_FNNCLYM INT = 4269
DECLARE @PICK_HVAPURPOSE_356_FNGPNDB INT = 4270
DECLARE @PICK_HVAPURPOSE_356_GNLPPYMG INT = 4271
DECLARE @PICK_HVAPURPOSE_356_GNLYMNDN INT = 4272
DECLARE @PICK_HVAPURPOSE_356_HMNCH INT = 4273
DECLARE @PICK_HVAPURPOSE_356_DNYNDCCM INT = 4274
DECLARE @PICK_HVAPURPOSE_356_MMGNM INT = 4275
DECLARE @PICK_HVAPURPOSE_356_MPXPCMPL INT = 4276
DECLARE @PICK_HVAPURPOSE_356_NNBDWBBD INT = 4277
DECLARE @PICK_HVAPURPOSE_356_PPVC INT = 4278
DECLARE @PICK_HVAPURPOSE_356_LWNFCMNV INT = 4279
DECLARE @PICK_HVAPURPOSE_356_LCLNWKLN INT = 4280
DECLARE @PICK_HVAPURPOSE_356_LFLFPNL INT = 4281
DECLARE @PICK_HVAPURPOSE_356_MNGMDCLL INT = 4282
DECLARE @PICK_HVAPURPOSE_356_FFCFHNPC INT = 4283
DECLARE @PICK_HVAPURPOSE_356_PYLL INT = 4285
DECLARE @PICK_HVAPURPOSE_356_PHYCLCCC INT = 4286
DECLARE @PICK_HVAPURPOSE_356_PCMNYM INT = 4287
DECLARE @PICK_HVAPURPOSE_356_DCMMNCN INT = 4288
DECLARE @PICK_HVAPURPOSE_356_LMDLNDPD INT = 4289
DECLARE @PICK_HVAPURPOSE_356_LMMGY INT = 4290
DECLARE @PICK_HVAPURPOSE_356_CYCLNCBC INT = 4291
DECLARE @PICK_HVAPURPOSE_356_CYPNCNC INT = 4292
DECLARE @PICK_HVAPURPOSE_356_PVYCNLND INT = 4293
DECLARE @PICK_HVAPURPOSE_356_PPVLNBLY INT = 4294
DECLARE @PICK_HVAPURPOSE_356_CCLCMMNC INT = 4295
DECLARE @PICK_HVAPURPOSE_356_DNNCNNCN INT = 4296
DECLARE @PICK_HVAPURPOSE_356_WHWNNGND INT = 4297
DECLARE @PICK_HVAPURPOSE_356_WBBDMNNG INT = 4298
DECLARE @PICK_HVAPURPOSE_356_OTH INT = 4299
DECLARE @PICK_ICSType_357_CS INT = 4400
DECLARE @PICK_ICSType_357_DATA INT = 4401
DECLARE @PICK_ICSType_357_ENG INT = 4402
DECLARE @PICK_ICSType_357_FC INT = 4403
DECLARE @PICK_ICSType_357_RTU INT = 4404
DECLARE @PICK_ICSType_357_PLC INT = 4405
DECLARE @PICK_ICSType_357_IED INT = 4406
DECLARE @PICK_ICSType_357_HMI INT = 4407
DECLARE @PICK_ICSType_357_IO INT = 4408
DECLARE @PICK_ICSType_357_SIS INT = 4409
DECLARE @PICK_ICSType_357_PR INT = 4410
DECLARE @PICK_ICSType_357_OTH INT = 4411
DECLARE @PICK_ICSVulnRem_358_FU INT = 4430
DECLARE @PICK_ICSVulnRem_358_SU INT = 4431
DECLARE @PICK_ICSVulnRem_358_HLC INT = 4432
DECLARE @PICK_ICSVulnRem_358_SETTINGS INT = 4433
DECLARE @PICK_ICSVulnRem_358_PATCH INT = 4434
DECLARE @PICK_ICSVulnRem_358_UPDATE INT = 4435
DECLARE @PICK_ICSVulnRem_358_REPLACE INT = 4436
DECLARE @PICK_ICSVulnRem_358_OTH INT = 4437
DECLARE @PICK_ICSPatch_359_REM INT = 4445
DECLARE @PICK_ICSPatch_359_OFFLINE INT = 4446
DECLARE @PICK_ICSPatch_359_ INT = 4447
DECLARE @PICK_ICSPatch_359_OTH INT = 4448
DECLARE @PICK_HVAPMEF_360_ADPRES INT = 4451
DECLARE @PICK_HVAPMEF_360_PROCOURT INT = 4452
DECLARE @PICK_HVAPMEF_360_LEGREV INT = 4453
DECLARE @PICK_HVAPMEF_360_FTERROR INT = 4454
DECLARE @PICK_HVAPMEF_360_LAW INT = 4455
DECLARE @PICK_HVAPMEF_360_FEDPRISON INT = 4456
DECLARE @PICK_HVAPMEF_360_BORDER INT = 4457
DECLARE @PICK_HVAPMEF_360_CYBER INT = 4458
DECLARE @PICK_HVAPMEF_360_LEADER INT = 4459
DECLARE @PICK_HVAPMEF_360_SITAWARE INT = 4460
DECLARE @PICK_HVAPMEF_360_HS INT = 4461
DECLARE @PICK_HVAPMEF_360_IR INT = 4462
DECLARE @PICK_HVAPMEF_360_DR INT = 4463
DECLARE @PICK_HVAPMEF_360_GOVREC INT = 4464
DECLARE @PICK_HVAPMEF_360_NDP INT = 4465
DECLARE @PICK_HVAPMEF_360_DEFEND INT = 4466
DECLARE @PICK_HVAPMEF_360_INTEL INT = 4467
DECLARE @PICK_HVAPMEF_360_NS INT = 4468
DECLARE @PICK_HVAPMEF_360_ER INT = 4469
DECLARE @PICK_HVAPMEF_360_FP INT = 4470
DECLARE @PICK_HVAPMEF_360_FDP INT = 4471
DECLARE @PICK_HVAPMEF_360_ISITAW INT = 4472
DECLARE @PICK_HVAPMEF_360_OVERSEAS INT = 4473
DECLARE @PICK_HVAPMEF_360_INTELREP INT = 4474
DECLARE @PICK_HVAPMEF_360_INTCOLL INT = 4475
DECLARE @PICK_HVAPMEF_360_COVOPS INT = 4476
DECLARE @PICK_HVAPMEF_360_ERFL INT = 4477
DECLARE @PICK_HVAPMEF_360_LEFL INT = 4478
DECLARE @PICK_HVAPMEF_360_NER INT = 4479
DECLARE @PICK_HVAPMEF_360_TRIBE INT = 4480
DECLARE @PICK_HVAPMEF_360_POWER INT = 4481
DECLARE @PICK_HVAPMEF_360_NUCSAFE INT = 4482
DECLARE @PICK_HVAPMEF_360_NUCINC INT = 4483
DECLARE @PICK_HVAPMEF_360_ENERGY INT = 4484
DECLARE @PICK_HVAPMEF_360_EXCON INT = 4485
DECLARE @PICK_HVAPMEF_360_SAT INT = 4486
DECLARE @PICK_HVAPMEF_360_FORECAST INT = 4487
DECLARE @PICK_HVAPMEF_360_FEDCOM INT = 4488
DECLARE @PICK_HVAPMEF_360_FINANCE INT = 4489
DECLARE @PICK_HVAPMEF_360_FINSEC INT = 4490
DECLARE @PICK_HVAPMEF_360_GOVFIN INT = 4491
DECLARE @PICK_HVAPMEF_360_IFINSTABLE INT = 4492
DECLARE @PICK_HVAPMEF_360_FOODSAFE INT = 4493
DECLARE @PICK_HVAPMEF_360_EMERFOOD INT = 4494
DECLARE @PICK_HVAPMEF_360_SMOKEY INT = 4495
DECLARE @PICK_HVAPMEF_360_SAFEPUB INT = 4496
DECLARE @PICK_HVAPMEF_360_MONETARY INT = 4497
DECLARE @PICK_HVAPMEF_360_FSSTABLE INT = 4498
DECLARE @PICK_HVAPMEF_360_BANK INT = 4499
DECLARE @PICK_HVAPMEF_360_FINSERV INT = 4500
DECLARE @PICK_HVAPMEF_360_DTI INT = 4501
DECLARE @PICK_HVAPMEF_360_TRANSTOP INT = 4502
DECLARE @PICK_HVAPMEF_360_AIRSPACE INT = 4503
DECLARE @PICK_HVAPMEF_360_HEALTH INT = 4504
DECLARE @PICK_HVAPMEF_360_FOODPRO INT = 4505
DECLARE @PICK_HVAPMEF_360_MEDCARE INT = 4506
DECLARE @PICK_HVAPMEF_360_AWCIVNUC INT = 4507
DECLARE @PICK_HVAPMEF_360_ENCIVNUC INT = 4508
DECLARE @PICK_HVAPMEF_360_OPCOM INT = 4509
DECLARE @PICK_HVAPMEF_360_ENVHEALTH INT = 4510
DECLARE @PICK_HVAPMEF_360_COMMOD INT = 4511
DECLARE @PICK_HVAPMEF_360_SS INT = 4512
DECLARE @PICK_HVAPMEF_360_SECMARK INT = 4513
DECLARE @PICK_HVAPMEF_360_HCS INT = 4514
DECLARE @PICK_HVAPMEF_360_OPSAT INT = 4515
DECLARE @PICK_HVAPMEF_360_MEDCARE INT = 4516
DECLARE @PICK_HVAPMEF_360_CAPINTEL INT = 4517
DECLARE @PICK_HVAPMEF_360_FEDREG INT = 4518
DECLARE @PICK_HVAPMEF_360_POSTAL INT = 4519
DECLARE @PICK_HVAPMEF_360_CREDUNION INT = 4520
DECLARE @PICK_HVAIMPACT_361_UNSUP INT = 4530
DECLARE @PICK_HVAIMPACT_361_NONE INT = 4531
DECLARE @PICK_HVAIMPACT_361_WORK INT = 4532
DECLARE @PICK_HVAIMPACT_361_DEGRADE INT = 4533
DECLARE @PICK_HVAIMPACT_361_FAIL INT = 4534
DECLARE @PICK_3DICSSCADA_363_PHYSICAL INT = 4550
DECLARE @PICK_3DICSSCADA_363_REMOTE INT = 4551
DECLARE @PICK_3DICSSCADA_363_NO INT = 4552

In [19]:
dfh = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='1') 
dfh = normalizedf(dfh) 
dfh['QuestionText'] = ''
dfh[0:2]

  IDTEXT FK_QuestionType FK_PickListType  IDNUM    QPK  sortpos QuestionText
0      1               9             nan   10.0  28200        1
1    1.1              17             nan   11.0  28201        2

In [20]:
df1 = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='ALL') 
df1 = normalizedf(df1) 
df1[1:2]  # .loc[ df1['IDTEXT'].str.contains('5.') ]

  IDTEXT                     QuestionText  QGROUP  IDNUM    QPK  sortpos
1      1  What is the purpose of the HVA?  2431.0   10.0  28201        2

ppl = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='PurposePickList' )
l=[]
c=0
for i,r in ppl.iterrows():
    if i % 2==1: 
        continue
    c=c+1
    IDTEXT = f"1.1.{ c }"
    QuestionText = f"{ r['DisplayValue'] }"
    l.append( {'IDTEXT':f'{IDTEXT}', 'QuestionText': f"If {QuestionText}, describe:"})
ppl = pd.DataFrame(l)  
ppl.to_csv(r'C:\Users\Tim\Documents\1802\HVA\ppl.csv', index=False)  
ppl[0:2]

In [66]:
dfp = pd.read_csv(r'C:\Users\Tim\Documents\1802\HVA\HVAPurpose.csv' )
dfp['IDTEXT'] = dfp['IDTEXT'].apply(lambda s : s.replace('.a','.1'))
dfp['IDTEXT'] = dfp['IDTEXT'].apply(lambda s : s.replace('.b','.2'))
dfp = normalizedf(dfp)  
dfp[:4]

                       QuestionText IDTEXT  IDNUM    QPK  sortpos
0  .GOV Domain Registration Systems  1.1.1  11.01  28200        1
1            Access to Data systems  1.1.2  11.02  28201        2
2              Agency support tool   1.1.3  11.03  28202        3
3    Business Intelligence Services  1.1.4  11.04  28203        4

In [23]:
dfm = pd.merge(df1, dfp, how='outer', on=['IDTEXT', 'QuestionText'], suffixes=(None, '__')) 
dfm = normalizedf(dfm)
dfm.to_csv(r'C:\Users\Tim\Documents\1802\HVA\dfm.csv', index=False)  
dfm[0:2]

  IDTEXT                     QuestionText  QGROUP  IDNUM    QPK  sortpos
0    0.1                  HVA Information     nan    1.0  28200        1
1      1  What is the purpose of the HVA?  2431.0   10.0  28201        2

In [67]:
dfa = dfm
dfa = normalizedf(dfa) 
for i,r in dfa.iterrows():
    v=dfa.loc[i, 'QuestionText']
    if v=='':
        dfa.loc[i, 'QuestionText']=dfa.loc[i, 'QuestionText_']
dfa.to_csv(r'C:\Users\Tim\Documents\1802\HVA\dfa.csv', index=False)   
dfa['QuestionText'].fillna('')
dfa[0:2]

  IDTEXT                     QuestionText  QGROUP  IDNUM    QPK  sortpos
0    0.1                  HVA Information     nan    1.0  28200        1
1      1  What is the purpose of the HVA?  2431.0   10.0  28201        2

In [68]:
dff = pd.merge(dfa, dfq, how='left', on='IDTEXT', suffixes=('', '_y')) 
dff['FK_QuestionType'].fillna('9', inplace=True)
dff['FK_PickList'].fillna('NULL', inplace=True)
dff['FK_PickListType'].fillna('NULL', inplace=True)
dff['WarningQuestion'].fillna('NULL', inplace=True)
dff['PK_ExternalLink'].fillna('NULL', inplace=True)
dff['PK_Question']=dff['QPK']
dff['FK_InputType'].fillna('NULL', inplace=True) 
dff['help_text'].fillna('NULL', inplace=True) 
dff = dff.fillna('NULL')
dff  = dff.replace('None','NULL')
dff.to_csv(r'C:\Users\Tim\Documents\1802\HVA\dfa.csv', index=False)   
dff[150:]

,IDTEXT,QuestionText,QGROUP,IDNUM,QPK,sortpos,PK_Question,2021PK_Question,QGROUP_y,FormName,...,FK_QuestionType,FK_InputType,FK_PickListType,WarningQuestion,ExternalLinkType,PK_ExternalLink,QuestionText_y,help_text,IDNUM_y,QPK_y
150,20.3,Does D/A for this HVA have an ISA/MOU with own...,nan,203.0,28350,151,28350,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
151,20.4,Is this connected system Internal to your Agency?,nan,204.0,28351,152,28351,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
152,20.5,"If 'Yes' to Internal to Agency, then Is this s...",nan,205.0,28352,153,28352,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
153,20.6,Is this interconnection/data exchange mission ...,nan,206.0,28353,154,28353,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
154,20.7,Is this interconnection,nan,207.0,28354,155,28354,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
155,21,Please list each direct interconnection or dat...,nan,210.0,28355,156,28355,22744,2435,@FormName,...,69,NULL,NULL,NULL,NULL,NULL,Please list each direct interconnection or dat...,,210.0,28296.0
156,21.1,Name of System,nan,211.0,28356,157,28356,22745,2435,@FormName,...,18,NULL,NULL,NULL,NULL,NULL,Name of Connected System,,211.0,28297.0
157,21.2,Please enter the Name of the organization that...,nan,212.0,28357,158,28357,22746,2435,@FormName,...,18,NULL,NULL,NULL,NULL,NULL,Is this connected system Internal to your Agency?,,212.0,28298.0
158,21.3,Please indicate the organization type for the ...,nan,213.0,28358,159,28358,22747,2435,@FormName,...,18,NULL,NULL,NULL,NULL,NULL,If 'Yes' to Internal to Agency then Is this sy...,,213.0,28299.0
159,21.4,Does the D/A for this HVA have an ISA/MOU with...,nan,214.0,28359,160,28359,22748,2435,@FormName,...,18,NULL,NULL,NULL,NULL,NULL,Is this interconnection/data exchange mission ...,,214.0,28300.0
160,21.5,Is this interconnection/data exchange mission ...,nan,215.0,28360,161,28360,22749,2435,@FormName,...,18,NULL,NULL,NULL,NULL,NULL,"Is this Interconnection Transmit, Receive, or ...",,215.0,28301.0
161,21.6,Is this Interconnection or data exchange a hig...,nan,216.0,28361,162,28361,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
162,21.7,Is this interconnection,nan,217.0,28362,163,28362,NULL,NULL,NULL,...,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL

In [60]:
query = f"""  SELECT TOP 1 
    PK_Question, FormName, FK_QuestionGroup,sortpos,identifier_text, FK_QuestionType
    , FK_InputType, FK_PickListType, WarningQuestion, ExternalLinkType, QuestionText, help_text 
    FROM fsma_Questions 
    """  
df_qmeta = get_df(query) 
cols = ','.join(df_qmeta.columns)
INS = f'INSERT INTO fsma_Questions ({cols}) VALUES '
print(INS)

INSERT INTO fsma_Questions (PK_Question,FormName,FK_QuestionGroup,sortpos,identifier_text,FK_QuestionType,FK_InputType,FK_PickListType,WarningQuestion,ExternalLinkType,QuestionText,help_text) VALUES

In [116]:
dff = get_df("""
SELECT PK_Question QPK
  , CONVERT(NVARCHAR(9), FK_QuestionType) + '' FK_QuestionType
  , CONVERT(NVARCHAR(9), FK_PickListType) + '' FK_PickListType
  , QTEXT As QuestionText
  , help_text
  , IdText as IDTEXT 
  FROM vwQuestions WHERE QGROUP=2433
  ORDER BY SortPos ASC
""") 
dff=dff.fillna('~')
dff

,QPK,FK_QuestionType,FK_PickListType,QuestionText,help_text,IDTEXT
0,22693,63,~,Modernization,~,
1,22850,63,~,12.0 Does this system directly employ or opera...,~,12
2,22851,17,~,"Adoption of application, data, and enterprise ...",~,12.1
3,22852,17,~,Multi-Factor Authentication,~,12.2
4,22853,17,~,Least Privilege,~,12.3
5,22854,17,~,Application Whitelisting,~,12.4
6,22855,17,~,Mobile Device Management,~,12.5
7,22856,17,~,Cloud-oriented protection (If in a cloud deplo...,~,12.6
8,22857,17,~,Adoption of automation and outcome-oriented se...,~,12.7
9,22858,17,~,Utilization of shared security services such a...,~,12.8
10,22859,17,~,Security Operations Center (SOC) as a Service,~,12.9
11,22860,17,~,Other,~,12.10
12,22699,63,~,Major Cyber Incidents,~,
13,22700,1,~,Has this system had one or more major incident...,<p>A Major Cyber Incident as defined and direc...,13
14,22701,2,~,Provide the number of major incidents within t...,~,13.1
15,22707,63,~,POAMs,~,
16,22702,1,~,Does this system have any open or unclosed POAMS?,~,14
17,22703,2,~,"If Yes to above, then provide the total number...",~,14.1

In [120]:
sql = "" 
for i, r in dff[:].iterrows(): 
    s = "(@QID, @FormName, @PK_QGroup, @SORD, N'@IDTEXT', @QTYPE, 1, @PKTYPE, 0, NULL, N'@QTEXT','@HTEXT'),"
    s = s.replace('@QID',  str(r['QPK']))
    s = s.replace('@SORD', str(i+1)) 
    s = s.replace('@QTYPE', r['FK_QuestionType'])
    s = s.replace('@PKTYPE', r['FK_PickListType'])
    s = s.replace('@IDTEXT', r['IDTEXT']) 
    s = s.replace('@QTEXT', r['QuestionText'].replace('\'', '`').replace('\ufffd', ''))  
    s = s.replace('@HTEXT', r['help_text'])  
    sql = sql + s + '\n'
sql = sql.replace("'~')", "NULL)")    
# sql = sql.replace("N'NULL'", "N''")   
sql = sql.replace("~,", "NULL,")  
# sql = f'{INS}\n {sql}\n' 
print( sql )

(22693, @FormName, @PK_QGroup, 1, N'', 63, 1, NULL, 0, NULL, N'Modernization',NULL),
(22850, @FormName, @PK_QGroup, 2, N'12', 63, 1, NULL, 0, NULL, N'12.0 Does this system directly employ or operate in an environment that has adopted any of the following cybersecurity mitigation technologies?',NULL),
(22851, @FormName, @PK_QGroup, 3, N'12.1', 17, 1, NULL, 0, NULL, N'Adoption of application, data, and enterprise level protections such as Encrypting Data at Rest and Encrypting Data in Transit ',NULL),
(22852, @FormName, @PK_QGroup, 4, N'12.2', 17, 1, NULL, 0, NULL, N'Multi-Factor Authentication',NULL),
(22853, @FormName, @PK_QGroup, 5, N'12.3', 17, 1, NULL, 0, NULL, N'Least Privilege',NULL),
(22854, @FormName, @PK_QGroup, 6, N'12.4', 17, 1, NULL, 0, NULL, N'Application Whitelisting',NULL),
(22855, @FormName, @PK_QGroup, 7, N'12.5', 17, 1, NULL, 0, NULL, N'Mobile Device Management',NULL),
(22856, @FormName, @PK_QGroup, 8, N'12.6', 17, 1, NULL, 0, NULL, N'Cloud-oriented protection (If in a cloud deployment)',NULL),
(22857, @FormName, @PK_QGroup, 9, N'12.7', 17, 1, NULL, 0, NULL, N'Adoption of automation and outcome-oriented security measures',NULL),
(22858, @FormName, @PK_QGroup, 10, N'12.8', 17, 1, NULL, 0, NULL, N'Utilization of shared security services such as Continuous Diagnostics and Mitigation (CDM) ',NULL),
(22859, @FormName, @PK_QGroup, 11, N'12.9', 17, 1, NULL, 0, NULL, N'Security Operations Center (SOC) as a Service ',NULL),
(22860, @FormName, @PK_QGroup, 12, N'12.10', 17, 1, NULL, 0, NULL, N'Other',NULL),
(22699, @FormName, @PK_QGroup, 13, N'', 63, 1, NULL, 0, NULL, N'Major Cyber Incidents',NULL),
(22700, @FormName, @PK_QGroup, 14, N'13', 1, 1, NULL, 0, NULL, N'Has this system had one or more major incident(s) within the last year?','<p>A Major Cyber Incident as defined and directed according to OMB M-21-02</p><ul><li>M-21-02 https://www.whitehouse.gov/wp-content/uploads/2020/11/M-21-02.pdf</li></ul>'),
(22701, @FormName, @PK_QGroup, 15, N'13.1', 2, 1, NULL, 0, NULL, N'Provide the number of major incidents within the last year.',NULL),
(22707, @FormName, @PK_QGroup, 16, N'', 63, 1, NULL, 0, NULL, N'POAMs',NULL),
(22702, @FormName, @PK_QGroup, 17, N'14', 1, 1, NULL, 0, NULL, N'Does this system have any open or unclosed POAMS?',NULL),
(22703, @FormName, @PK_QGroup, 18, N'14.1', 2, 1, NULL, 0, NULL, N'If Yes to above, then provide the total number of  open or unclosed POAMS.',NULL),

In [ ]:
with open(fr'C:\Users\Tim\Documents\1802\HVA\update.sql', 'w') as f:
    f.write(sql)



df = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='PurposePickList').fillna('NULL') 
cols = list(df) # Creates list of all column headers
df[cols] = df[cols].astype(str)
df['DisplayCode'] =  df['DisplayValue'].apply(lambda s: re.sub('[^A-Z0-9]','',s.upper()))
df['DisplayCode'] =  df['DisplayCode'].apply(lambda s: re.sub('[AEIOURST]','',s)[:8])
s =''
for i,r, in df.iterrows():
    PK_PickList=r['PK_PickList']
    DisplayCode=r['DisplayCode']
    DisplayValue=r['DisplayValue'] 
    if DisplayValue=='Other':
        DisplayCode='OTH'
    s = s + f"({PK_PickList},@PKT, N'{DisplayCode}',N'{DisplayValue}',{i}, GETDATE(), 1),\n"

print(s)

In [77]:
query = f""" \
    SELECT TOP 5000 
      IDTEXT AS IDTEXT 
    , PK_Question 
    FROM vwQuestions WHERE PK_FORM LIKE '2022-A-HVA'  
"""  
dfdep = get_df(query)  
# dfdep.to_csv(r'C:\Users\Tim\Documents\1802\HVA\dfdep.csv', index=False)  
dfdep[:]

     IDTEXT  PK_Question
0       0.1        28200
1         1        28201
2       1.1        28202
3         2        28228
4       2.1        28229
..      ...          ...
103  1.1.45        28334
104  1.1.46        28335
105  1.1.47        28336
106  1.1.48        28337
107  1.1.49        28338

[108 rows x 2 columns]

In [92]:
INS = f"""  INSERT INTO [fsma_QuestionDependencies] 
(FK_Question, FK_Question_Master, Question_Master_CodeValue_ToMakeRequired) VALUES 
    """  
sql = ""   
for i, r in dfdep[:].iterrows(): 
    mast = 28211
    s = f"({r['PK_Question']}, {mast}, 'Y') ,"     
    sql = sql + s + '\n' 
sql = f'{INS}\n {sql}\n' 
# print(sql)